<style>
p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foto-perfil {      
    max-width: 22%;
    border-radius: 30%;
}
.icone-email {
    height: 100%;
    max-width: auto;
    border-radius: 25%;
    padding-left: 8px;
}

.icones {
    height: 100%;
    max-width: auto;
    border-radius: 30%;
    padding-left: 8px;
}
.titulonome{
    padding-top:30px;
    padding-bottom: 20px;
    text-transform: none;
    font-weight: 700;
    font-size: 45px;
    color: white;
}
.titulosBrancos {
    padding-top:10px;
    padding-bottom: 20px;
    text-transform: none;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.linkscontatos {
    font-size: 20px;
    padding-bottom:50px;
    margin-bottom: 0px;
    color:white    
}


.jumbotron {
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

.corPrimaria {
    background-color:rgb(0, 0, 0);
}

.itemMenu {
    color: white;
}

.footer{
    margin-left: 2%;
    margin-right: 2%;
    background-color:#324455;            
    padding:0px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color:white   
}
.openInNewTab {
var win = window.open(url, '_blank');
win.focus();
}
</style>